@page
@model LoginModel
<link href="~/css/GoogleLoginButton.css" rel="stylesheet">
<div class="row">
    <div class="col-md-4">
        <h4>歡迎登入(^___^)</h4>
        <section>
            <hr />
            <form id="account" method="post" style="margin-top:-24px;">
                <br>
                <div class="form-group">
                    <label asp-for="Input.Email">
                        請輸入您的郵件&nbsp;&nbsp;&nbsp;&nbsp;
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">
                        請輸入您的密碼&nbsp;&nbsp;&nbsp;&nbsp;
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">登入</button>
                    <span class="text-danger" style="position:relative; margin-left:14px; top:2px;">@TempData["LoginFail"]</span>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <h4>使用 Google 帳戶登入</h4>
                    <hr />
                    <div>
                        <label>請點擊下方的圖示</label>
                    </div>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" class="GoogleLoginButton">G</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}