.GoogleLoginButton {
    width: 38px;
    height: 38px;
    color: white;
    background-color: red;
    border-radius: 50%;
    border: none;
    outline: none !important;
    font-weight: bold;
    font-size: 22px;
}
