.Row {
    width: 66%;
    white-space: nowrap;
    background-color: #fffaf2;
    border: 2px solid #ff9100;
    border-radius: 16px;
    height: 174px;
}

a.MyLink {
    position: relative;
    color: #008dff;
    text-decoration: none;
    margin-left: 2.8%;
    top: 14px;
    font-size: x-large;
}

a.MyLink:hover {
    color: #008dff;
    text-decoration: none;
}

a.MyLink:visited {
    color: mediumpurple;
    text-decoration: none;
}

.Company {
    position: relative;
    top: 14px;
    margin-left: 3%;
    font-size: large;
}

.AreaAndLimit {
    position: relative;
    top: 14px;
    margin-left: 3%;
    font-size: large;
}

.PartialContent {
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 16px;
    color: #7e7e7e;
    position: relative;
    top: 14px;
    margin-left: 3%;
}

.Wage {
    display: inline-block;
    max-width: 100%;
    color: red;
    font-size: 16px;
    position: relative;
    top: 14px;
    margin-left: 3%;
}