<div class="text-center">
    <span style="font-size: 30px; color: blue;">歡迎使用工作過濾小幫手~d(`･∀･)b</span><br>
    <span style="font-size: 20px;">請先登入並新增設定檔，然後點選設定檔右邊的執行，即可過濾從目標網址取得的工作列表。</span>
    <br><br>
    <img style="width:700px; height:330px;" src="https://i.imgur.com/RainusD.jpg">
</div>
